@import "tailwindcss";
@plugin "daisyui" {
    themes: light, dark, bumblebee
}

/* Theme-specific background gradients */
[data-theme="light"] {
  --bg-gradient: radial-gradient(125% 150% at 50% 10%, #f8fafc 40%, #412AD5 160%);
}

[data-theme="dark"] {
  --bg-gradient: radial-gradient(125% 150% at 50% 10%, #0f172a 40%, #1e293b 100%);
}

[data-theme="bumblebee"] {
  --bg-gradient: radial-gradient(125% 150% at 50% 10%, #FFFF 40%, #FCC700 100%);
}

.dynamic-bg {
  background: var(--bg-gradient);
}